@import url('https://fonts.googleapis.com/css?family=Monoton|Poiret+One&display=swap');

.lyricspre{
  font-size: 1.7vw;
  font-family: 'Viga', sans-serif;
  border: solid .3vw #AFEEEE;
  color: rgb(149, 148, 148);
  text-align: center;
  padding: 2vw;
  overflow: scroll;
}

.lyricsh3 {
  font-family: 'Monoton', cursive;
  font-size: 3vw;
  color: #b7702d;
  text-align: center;
}