@import url('https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Viga&display=swap');

.songContainerh2 {
  font-size: 3vw;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: #b7702d;
}

.songContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songContainer img {
  width: 30vw;
}

.titleh3 {
  font-size: 3vw;
  font-family: 'Monoton', cursive;
  text-align: center;
  color: #b7702d;
}