@import url('https://fonts.googleapis.com/css?family=Monoton|Poiret+One|Viga&display=swap');

.release {
  height: 20vw;
  width: 30vw;
  text-align: center;
  margin: 0 3vw 3vw 0;
  padding-top: 3vw;
  border: .2vw solid #AFEEEE;
  font-size: 1.4vw;
  font-family: 'Viga', sans-serif;
  font-weight: bolder;
}

.release img {
  width: 10vw;
}

.link {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

.link:hover {
  color: white;
  transform: scale(1.2);
}

.release:hover {
  transform: scale(1.2);
  background: rgb(251, 147, 147);
  font-size: 1.6vw;
}